.Card-Home{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap;
    margin-left: 100px;
    margin-right: 100px;
}
.card{
    width: 220px;
    margin: 20px;
}